<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naswork.erp.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.naswork.erp.entity.Menu">
        <id column="id" property="id" />
        <result column="menu_code" property="menuCode" />
        <result column="menu_name" property="menuName" />
        <result column="permission_code" property="permissionCode" />
        <result column="permission_name" property="permissionName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_code AS menuCode, menu_name AS menuName, permission_code AS permissionCode, permission_name AS permissionName
    </sql>

    <select id="getmenuListByUsername" resultType="string">
        SELECT m.menu_code
        FROM menu m
        LEFT JOIN role_menu rm ON rm.menu_id = m.id
        LEFT JOIN role  r ON r.id = rm.role_id
        LEFT JOIN role_user ru ON ru.role_id = r.id
        LEFT JOIN `user` u ON u.id = ru.user_id
        WHERE u.user_name = #{username}
        GROUP BY menu_code;
    </select>

    <select id="getpermissionListByUsername" resultType="string">
        SELECT m.permission_code
        FROM menu m
        LEFT JOIN role_menu rm ON rm.menu_id = m.id
        LEFT JOIN role  r ON r.id = rm.role_id
        LEFT JOIN role_user ru ON ru.role_id = r.id
        LEFT JOIN `user` u ON u.id = ru.user_id
        WHERE u.user_name = #{username};
    </select>

</mapper>
